
<div class="container-fluid">
    <form [formGroup]="bookForm" #formDir="ngForm">
        <div class="row">
            <div class="col-12">
                    <h2 class="text text-uppercase font-weight-bold mt-3"> Add New Book</h2> <button type="button" class="btn btn-warning" ><a routerLink="/product" href="" class="text-dark">
                        All products</a></button> 
                    <hr>
                    
            </div>
           
            <div class="col-12 mb-3">
                <div class="form-group">
                    <label for="formAddBookTitle" class="text-danger">Title (*)</label>
                    <input type="text" id="formAddBookTitle" name="formAddBookTitle" class="form-control myInput-elegant-2 text-info font-weight-bold" formControlName="title"
                        required autofocus>
                    <div *ngIf="title.invalid && (title.dirty || title.touched)" class="">
                        <div *ngIf="title.errors.required" class="text-danger">
                            * Title is required.
                        </div>
                        <div *ngIf="title.errors.minlength" class="text-warning">
                            * Title must be at least 1 characters long.
                        </div>
                    </div>

                </div>

            </div>
            <div class="col-12 col-sm-6 col-md-4 mb-3">
                <div class="form-group">
                    <label for="formAddBookAuthor" class="text-danger">Author (*)</label>
                    <input type="text" id="formAddBookAuthor" name="formAddBookAuthor" class="form-control myInput-elegant-2 text-info" formControlName="author"
                        required>
                    <div *ngIf="author.invalid && (author.dirty || author.touched)" class="">
                        <div *ngIf="author.errors.required" class="text-danger">
                            * Author name is required.
                        </div>
                        <div *ngIf="author.errors.minlength" class="text-warning">
                            * Author name must be at least 4 characters long.
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 mb-3">
                <div class="form-group">
                    <label for="formAddBookPublisher" class="text-danger">Publisher (*)</label>
                    <input type="text" id="formAddBookPublisher" name="formAddBookPublisher" class="form-control myInput-elegant-2 text-info" formControlName="publisher"
                        required>
                    <div *ngIf="publisher.invalid && (publisher.dirty || publisher.touched)" class="">
                        <div *ngIf="publisher.errors.required" class="text-danger">
                            * Publisher is required.
                        </div>
                        <div *ngIf="publisher.errors.minlength" class="text-warning">
                            * Publisher must be at least 4 characters long.
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 mb-3">
                <div class="form-group">
                    <label (click)="getGenre()" for="formAddBookSelectGenre">Genre (*)</label>
                    <select *ngIf="genres" class="form-control myInput-elegant-2" id="formAddBookSelectGenre" formControlName="genre" required>
                        <option *ngFor="let x of genres" [ngValue]="x">{{x.name}}</option>
                    </select>
                    <div *ngIf="genre__id.errors && genre__id.touched" class="text-danger">
                        <div *ngIf="genre__id.errors.required">* Genre must be selected</div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 mb-3">
                    <div class="form-group">
                        <label for="formAddBookPreviousPrice" class="text-danger">Previous Price (*)</label>
                        <input type="number" min="0" oninput="this.value = Math.abs(this.value)" id="formAddBookPreviousPrice" name="formAddBookPreviousPrice"
                            class="form-control myInput-elegant-2" formControlName="previousPrice" required>
                        <div *ngIf="previousPrice.invalid && (previousPrice.dirty || previousPrice.touched)" class="">
                            <div *ngIf="previousPrice.errors.required" class="text-danger">
                                Number is required.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 mb-3">
                    <div class="form-group">
                        <label for="formAddBookSellingPrice" class="text-danger">Selling Price (*)</label>
                        <input type="number" min="0" oninput="this.value = Math.abs(this.value)" id="formAddBookSellingPrice" name="formAddBookSellingPrice"
                            class="form-control myInput-elegant-2 text-danger" formControlName="sellingPrice" required>
                        <div *ngIf="sellingPrice.invalid && (sellingPrice.dirty || sellingPrice.touched)" class="">
                            <div *ngIf="sellingPrice.errors.required" class="text-danger">
                                Number is required.
                            </div>
                        </div>
                    </div>
                </div>
            <div class="col-12 col-sm-6 col-md-4 mb-3">
                <div class="form-group">
                    <label for="formAddBookPages">Pages</label>
                    <input type="number" min="0" oninput="this.value = Math.abs(this.value)" id="formAddBookPages" name="formAddBookPages" class="form-control myInput-elegant-2"
                        formControlName="pages">
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 mb-3">
                <div class="form-group">
                    <label for="formAddBookWeight">Weight</label>
                    <input type="number" min="0" oninput="this.value = Math.abs(this.value)" id="formAddBookWeight" name="formAddBookWeight"
                        class="form-control myInput-elegant-2" formControlName="weight">
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 mb-3">
                <div class="form-group">
                    <label for="formAddBookReleaseDate">Release Date</label>
                    <input type="text" data-toggle="datepicker" id="formAddBookReleaseDate" name="formAddBookReleaseDate" class="form-control myInput-elegant-2" formControlName="releaseDate"
                        placeholder="mm/md/yyyy">
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 mb-3">
                <div class="form-group">
                    <label for="formAddBookSKU">SKU</label>
                    <input type="text" id="formAddBookSKU" name="formAddBookSKU" class="form-control myInput-elegant-2" formControlName="sku">
                </div>
            </div>
            
            <div class="col-12 mb-3">
                <div class="form-group">
                    <label for="formAddBookImages">Main Image (*)</label>
                    <input type="text" id="formAddBookImages" name="formAddBookImages" class="form-control myInput-elegant-2" formControlName="images_main"
                        required>
                    <div *ngIf="images_main.invalid && (images_main.dirty || images_main.touched)" class="">
                        <div *ngIf="images_main.errors.required" class="text-danger">
                            Required a link.
                        </div>
                    </div>
                    <a href="" class="text-dark mt-2" data-toggle="collapse" href="#collapseReviewImage" role="button" aria-expanded="false"
                        aria-controls="collapseReviewImage">
                        <i class="far fa-image"></i> View Image</a>
                </div>
            </div>
            <div class="col-12">
                <div class="row">
                    <div class="col-12 col-sm-4 col-lg-4 mb-3">
                        <div class="form-group">
                            <label for="formAddBookSizeWidth">Width (cm)</label>
                            <input type="number" min="0" oninput="this.value = Math.abs(this.value)" id="formAddBookSizeWidth" name="formAddBookSizeWidth"
                                class="form-control myInput-elegant-2" formControlName="size_width">
                        </div>
                    </div>
                    <div class="col-12 col-sm-4 col-lg-4 mb-3">
                        <div class="form-group">
                            <label for="formAddBookSizeHeight">Height (cm)</label>
                            <input type="number" min="0" oninput="this.value = Math.abs(this.value)" id="formAddBookSizeHeight" name="formAddBookSizeHeight"
                                class="form-control myInput-elegant-2" formControlName="size_height">
                        </div>
                    </div>
                    <div class="col-12 col-sm-4 col-lg-4 mb-3">
                        <div class="form-group">
                            <label for="formAddBookSizeDepth">Depth (cm)</label>
                            <input type="number" min="0" oninput="this.value = Math.abs(this.value)" id="formAddBookSizeDepth" name="formAddBookSizeDepth"
                                class="form-control myInput-elegant-2" formControlName="size_depth">
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 mb-3">
                <div class="form-group">
                    <label for="formAddBookShortDescription">Short Description</label>
                    <textarea class="form-control myInput-elegant-2" id="formAddBookShortDescription" rows="3" formControlName="shortDescription"></textarea>
                </div>
            </div>
            <div class="col-12 mb-3">
                <div class="form-group">
                    <label for="formAddBookFullDescription">Full Description</label>
                    <textarea [froalaEditor]="HelloFroala" class="form-control" id="formAddBookFullDescription" rows="10" formControlName="fullDescription"></textarea>
                </div>

            </div>
            <hr>
            <div class="col-12">
                    <button type="button" class="btn btn-danger rounded-circle border border-success " (click)="formDir.resetForm({})"> Clear </button>
                    <button type="submit" (click)="onSaveBook()" [disabled]="bookForm.invalid" class="btn btn-success rounded-circle border border-danger float-right">
                            Add</button>
                </div>

        </div>
    </form>
</div>

<!-- MODAL: Missing fields -->
<div id="modalMissingField" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Missing data</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>There are some fields are missing data</p>
                <p class="text-danger">Pages, Weight, ...</p>
                <p>Do you want to check again?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">No, just proceed</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Let me check</button>
            </div>
        </div>
    </div>
</div>