<body class="app header-fixed sidebar-fixed aside-menu-fixed sidebar-lg-show">
  <header class="app-header navbar">
    <button class="navbar-toggler sidebar-toggler d-lg-none mr-auto" type="button" data-toggle="sidebar-show" title="Show/Hide Menu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="" routerLink="/dashboard">
            <span class="navbar-brand-full" alt="Brand Logo Full">Admin Panel</span>
            <span class="navbar-brand-minimized" width="30" height="30" alt="Brand Logo Mini">B</span>
        </a>
    <!-- <button class="navbar-toggler sidebar-toggler d-md-down-none" type="button" data-toggle="sidebar-lg-show">
      <span class="navbar-toggler-icon"></span>Hello2
    </button> -->
    <button class="navbar-toggler sidebar-toggler d-md-down-none sidebar-minimizer brand-minimizer" type="button" title="Switch side-menu"><i class="fab fa-elementor text-primary"></i></button>
    <ul class="nav navbar-nav d-md-down-none ml-auto">
      <li class="nav-item px-3">
        <a class="nav-link" href="" routerLink="/dashboard">Dashboard</a>
      </li>
      <li class="nav-item px-3">
        <a class="nav-link" href="https://bao-doan.github.io">Homepage</a>
      </li>
      <li class="nav-item px-3">
            <a class="nav-link" href="#" data-toggle="modal" data-target="#modalAdminLogout">Logout</a>
      </li>
    </ul>
    
    
    <button class="navbar-toggler aside-menu-toggler d-lg-none" type="button" data-toggle="aside-menu-show">
      <i class="far fa-compass text-dark" title="Go Dashboard or go Homepage"></i>
    </button>
  </header>
  <div class="app-body">
      <div class="sidebar">
          <nav class="sidebar-nav">
              <ul class="nav">

                  <li class="nav-title text-warning">ADMIN</li>
                  <li class="nav-item">
                      <a class="nav-link" href="#" routerLinkActive="active">
                          <i class="fas fa-user nav-icon"></i> Profile
                      </a>
                  </li>
                  <li class="nav-title text-warning">ACCOUNTS</li>
                  <li class="nav-item">
                          <a class="nav-link" href="#" routerLinkActive="active">
                              <i class="far fa-address-book nav-icon"></i> Manage Users
                          </a>
                      </li>
                  <li class="nav-item">
                      <a class="nav-link" href="#" routerLinkActive="active">
                          <i class="far fa-address-book nav-icon"></i> Manage Staffs
                      </a>
                  </li>
                  <li class="nav-title text-warning">SHOP</li>
                  <li class="nav-item" >
                          <a class="nav-link" href="" routerLink="/category" routerLinkActive="active">
                              <i class="fas fa-book nav-icon"></i> All Categories
                          </a>
                      </li>
                  <li class="nav-item" >
                      <a class="nav-link" href="#" routerLink="/product" routerLinkActive="active">
                          <i class="fas fa-book nav-icon"></i> All Products
                      </a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="#" routerLinkActive="active">
                          <i class="fas fa-book nav-icon"></i> Purchase Orders
                      </a>
                  </li>
                  
                  <li class="nav-title text-warning">ARTICLES</li>
                  <li class="nav-item">
                      <a class="nav-link" href="#" routerLinkActive="active">
                          <i class="far fa-newspaper nav-icon"></i> Articles
                      </a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="#" routerLinkActive="active">
                          <i class="far fa-newspaper nav-icon"></i> Add Article
                      </a>
                  </li>
                  
                  <li class="nav-title text-warning">EXTENSION</li>
                  
                  <li class="nav-item nav-dropdown">
                      <a class="nav-link nav-dropdown-toggle" href="#">
                          <i class="fas fa-list-ul nav-icon"></i> Building</a>
                      <ul class="nav-dropdown-items">
                          <li class="nav-item">
                              <a class="nav-link" href="#" routerLink="" routerLinkActive="active">
                                  <i class="nav-icon"></i> One</a>
                          </li>
                          <li class="nav-item">
                              <a class="nav-link" href="#" routerLink="" routerLinkActive="active">
                                  <i class="nav-icon"></i> Two</a>
                          </li>
                      </ul>
                  </li>

              </ul>
          </nav>
          <!-- <button class="sidebar-minimizer brand-minimizer " type="button"></button> -->
      </div>
      <main class="main">
          <!-- Breadcrumb-->
         <app-breadcrumb></app-breadcrumb>
         
          <!-- Main content -->
          <router-outlet></router-outlet>
      </main>
    <aside class="aside-menu">
        <ul class="nav navbar-nav">
            <li class="nav-item px-3">
              <a class="nav-link" href="" routerLink="/dashboard"><i class="fas fa-tachometer-alt"></i> Dashboard</a>
            </li>
            <li class="nav-item px-3">
              <a class="nav-link" href="https://bao-doan.github.io"><i class="fas fa-shopping-cart"></i> Shop Page</a>
            </li>
            <li class="nav-item px-3">
              <a class="nav-link" href="#" data-toggle="modal" data-target="#modalAdminLogout"><i class="fas fa-sign-out-alt"></i> Logout</a>
            </li>
          </ul>
    </aside>
  </div>
  <footer class="app-footer mt-4">
      <div>
          <a href="../../index.html">Brand Co., Ltd</a>
          <span>&copy; 2018.</span>
      </div>
      <div class="ml-auto">
          <span>Powered by</span>
          <a href="https://coreui.io">CoreUI</a>
      </div>
  </footer>
</body>
<!-- MODAL: Admin Logout -->
  <div class="modal fade" id="modalAdminLogout" tabindex="-1" role="dialog" aria-labelledby="modalAdminLogoutLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Admin Logout</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Are yout sure want to logout?</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary">Yes</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
        </div>
      </div>
    </div>
  </div>