<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-md-4 mb-3">
      <h5 class="mb-3">Create New Product (Book)</h5>
      <div class="form-group">
        <label for="formAddBookTitle">Title</label>
        <input type="text" id="formAddBookTitle" name="formAddBookTitle" class="form-control myInput-elegant-2" placeholder="">
      </div>
      <div class="form-group">
        <label for="formAddBookAuthor">Author</label>
        <input type="text" id="formAddBookAuthor" name="formAddBookAuthor" class="form-control myInput-elegant-2" placeholder="">
      </div>
      <div class="form-group">
        <label for="formAddBookPublisher">Publisher</label>
        <input type="text" id="formAddBookPublisher" name="formAddBookPublisher" class="form-control myInput-elegant-2" placeholder="">
      </div>
      <div class="form-group">
        <label for="formAddBookPages">Pages</label>
        <input type="number" id="formAddBookPages" name="formAddBookPages" class="form-control myInput-elegant-2" placeholder="">
      </div>
      <div class="form-group">
        <label for="formAddBookWeight">Weight</label>
        <input type="number" id="formAddBookWeight" name="formAddBookWeight" class="form-control myInput-elegant-2" placeholder="">
      </div>
      <div class="form-group">
        <label for="formAddBookSKU">SKU</label>
        <input type="text" id="formAddBookSKU" name="formAddBookSKU" class="form-control myInput-elegant-2" placeholder="">
      </div>
      <div class="form-group">
        <label for="formAddBookPreviousPrice">Previous Price</label>
        <input type="number" id="formAddBookPreviousPrice" name="formAddBookPreviousPrice" class="form-control myInput-elegant-2"
          placeholder="">
      </div>
      <div class="form-group">
        <label for="formAddBookSellingPrice">Selling Price</label>
        <input type="number" id="formAddBookSellingPrice" name="formAddBookSellingPrice" class="form-control myInput-elegant-2" placeholder="">
      </div>
      <div class="form-group">
        <label for="formAddBookReleaseDate">Release Date</label>
        <input type="date" id="formAddBookReleaseDate" name="formAddBookReleaseDate" class="form-control myInput-elegant-2" placeholder="">
      </div>
      <div class="form-group">
        <label for="formAddBookShortDescription">Short Description</label>
        <textarea class="form-control myInput-elegant-2" id="formAddBookShortDescription" rows="3"></textarea>
      </div>
      <div class="form-group">
        <label for="formAddBookFullDescription">Full Description</label>
        <textarea class="form-control myInput-elegant-2" id="formAddBookFullDescription" rows="3"></textarea>
      </div>
      <div class="form-group">
        <label for="formAddBookImages">Images</label>
        <input type="text" id="formAddBookImages" name="formAddBook" class="form-control myInput-elegant-2" placeholder="">
      </div>
      <div class="form-group w-50">
        <label for="formAddBookSizeWidth">Size (width)</label>
        <input type="number" id="formAddBookSizeWidth" name="formAddBookSizeWidth" class="form-control myInput-elegant-2" placeholder="">
      </div>
      <div class="form-group w-50">
        <label for="formAddBookSizeDepth">Size (depth)</label>
        <input type="number" id="formAddBookSizeDepth" name="formAddBookSizeDepth" class="form-control myInput-elegant-2" placeholder="">
      </div>
      <div class="form-group">
        <label for="formAddBookSelectGenre">Genre</label>
        <select class="form-control" id="formAddBookSelectGenre">
          <option>Genre binding</option>
          <option>Genre binding</option>
          <option>Genre binding</option>
          <option>Genre binding</option>
          <option>Genre binding</option>
        </select>
      </div>
      <button class="btn btn-success d-block ml-auto">
        <i class="fas fa-plus"></i> Create</button>
    </div>
    <div class="col-12 col-md-4 mb-3">
      <div class="d-flex flex-row justify-content-between align-items-center mb-3">
        <span class="h5 mb-0">Product List</span>
        <button (click)="getBooks()" class="btn btn-ghost-primary">
          <i class="fas fa-sync-alt"></i> Refresh</button>
      </div>

      <ul class="list-group list-unstyled border-0">
        <li *ngFor="let book of books" class="d-flex flex-row justify-content-between align-items-center">
          <span (click)="onSelect(book)" class="">{{book.title}}</span>
          <button class="btn btn-sm" title="Remove">
            <i class="fas fa-times"></i>
          </button>
        </li>
      </ul>
    </div>
    <div class="col-12 col-md-4 mb-3">
      <div class="d-flex flex-row justify-content-between align-items-center mb-3">
        <span class="h5 mb-0">Details</span>
        <button class="btn btn-ghost-primary">
          <i class="fas fa-check"></i> Update</button>
      </div>
      <div *ngIf="selectedBook">
        <div class="form-group">
          <label for="formEditBookTitle">Title</label>
          <input [(ngModel)]="selectedBook.title" type="text" id="formEditBookTitle" name="formEditBookTitle" class="form-control myInput-elegant-2" placeholder="">
        </div>
        <div class="form-group">
          <label for="formEditBookAuthor">Author</label>
          <input [(ngModel)]="selectedBook.author" type="text" id="formEditBookAuthor" name="formEditBookAuthor" class="form-control myInput-elegant-2" placeholder="">
        </div>
        <div class="form-group">
          <label for="formEditBookPublisher">Publisher</label>
          <input [(ngModel)]="selectedBook.publisher" type="text" id="formEditBookPublisher" name="formEditBookPublisher" class="form-control myInput-elegant-2" placeholder="">
        </div>
        <div class="form-group">
          <label for="formEditBookPages">Pages</label>
          <input [(ngModel)]="selectedBook.pages" type="number" id="formEditBookPages" name="formEditBookPages" class="form-control myInput-elegant-2" placeholder="">
        </div>
        <div class="form-group">
          <label for="formEditBookWeight">Weight</label>
          <input [(ngModel)]="selectedBook.weight" type="number" id="formEditBookWeight" name="formEditBookWeight" class="form-control myInput-elegant-2" placeholder="">
        </div>
        <div class="form-group">
          <label for="formEditBookSKU">SKU</label>
          <input [(ngModel)]="selectedBook.sku" type="text" id="formEditBookSKU" name="formEditBookSKU" class="form-control myInput-elegant-2" placeholder="">
        </div>
        <div class="form-group">
          <label for="formEditBookPreviousPrice">Previous Price</label>
          <input [(ngModel)]="selectedBook.previousPrice" type="number" id="formEditBookPreviousPrice" name="formEditBookPreviousPrice" class="form-control myInput-elegant-2"
            placeholder="">
        </div>
        <div class="form-group">
          <label for="formEditBookSellingPrice">Selling Price</label>
          <input [(ngModel)]="selectedBook.sellingPrice" type="number" id="formEditBookSellingPrice" name="formEditBookSellingPrice" class="form-control myInput-elegant-2"
            placeholder="">
        </div>
        <div class="form-group">
          <label for="formEditBookReleaseDate">Release Date</label>
          <input [(ngModel)]="selectedBook.releaseDate" type="date" id="formEditBookReleaseDate" name="formEditBookReleaseDate" class="form-control myInput-elegant-2" placeholder="">
        </div>
        <div class="form-group">
          <label for="formEditBookShortDescription">Short Description</label>
          <textarea class="form-control myInput-elegant-2" id="formEditBookShortDescription" rows="3"></textarea>
        </div>
        <div class="form-group">
          <label for="formEditBookFullDescription">Full Description</label>
          <textarea class="form-control myInput-elegant-2" id="formEditBookFullDescription" rows="3"></textarea>
        </div>
        <div class="form-group">
          <label for="formEditBookImages">Images</label>
          <input [(ngModel)]="selectedBook.images.main" type="text" id="formEditBookImages" name="formAddBook" class="form-control myInput-elegant-2" placeholder="">
        </div>
        <div class="form-group w-50">
          <label for="formEditBookSizeWidth">Size (width)</label>
          <input [(ngModel)]="selectedBook.size.width" type="number" id="formEditBookSizeWidth" name="formEditBookSizeWidth" class="form-control myInput-elegant-2" placeholder="">
        </div>
        <div class="form-group w-50">
          <label for="formEditBookSizeDepth">Size (depth)</label>
          <input [(ngModel)]="selectedBook.size.depth" type="number" id="formEditBookSizeDepth" name="formEditBookSizeDepth" class="form-control myInput-elegant-2" placeholder="">
        </div>
        <div class="form-group">
          <label for="formAddBookReSelectGenre">Genre</label>
          <select class="form-control" id="formAddBookReSelectGenre">
            <option *ngFor="let book of books">{{book.title}}</option>
          </select>
        </div>
      </div>
      
    </div>
  </div>
</div>