<div class="container-fluid">
  <div class="row">
    <!-- <div class="container-fluid">
  <div class="row">
    <div class="col-12 col-md-4 mb-3">
      <h5 class="mb-3">Create New Product (Book)</h5>
      <div class="form-group">
        <label for="formAddBookTitle">Title</label>
        <input type="text" id="formAddBookTitle" name="formAddBookTitle" class="form-control myInput-elegant-2" placeholder="">
      </div>
      <div class="form-group">
        <label for="formAddBookAuthor">Author</label>
        <input type="text" id="formAddBookAuthor" name="formAddBookAuthor" class="form-control myInput-elegant-2" placeholder="">
      </div>
      <div class="form-group">
        <label for="formAddBookPublisher">Publisher</label>
        <input type="text" id="formAddBookPublisher" name="formAddBookPublisher" class="form-control myInput-elegant-2" placeholder="">
      </div>
      <div class="form-group">
        <label for="formAddBookPages">Pages</label>
        <input type="number" id="formAddBookPages" name="formAddBookPages" class="form-control myInput-elegant-2" placeholder="">
      </div>
      <div class="form-group">
        <label for="formAddBookWeight">Weight</label>
        <input type="number" id="formAddBookWeight" name="formAddBookWeight" class="form-control myInput-elegant-2" placeholder="">
      </div>
      <div class="form-group">
        <label for="formAddBookSKU">SKU</label>
        <input type="text" id="formAddBookSKU" name="formAddBookSKU" class="form-control myInput-elegant-2" placeholder="">
      </div>
      <div class="form-group">
        <label for="formAddBookPreviousPrice">Previous Price</label>
        <input type="number" id="formAddBookPreviousPrice" name="formAddBookPreviousPrice" class="form-control myInput-elegant-2"
          placeholder="">
      </div>
      <div class="form-group">
        <label for="formAddBookSellingPrice">Selling Price</label>
        <input type="number" id="formAddBookSellingPrice" name="formAddBookSellingPrice" class="form-control myInput-elegant-2" placeholder="">
      </div>
      <div class="form-group">
        <label for="formAddBookReleaseDate">Release Date</label>
        <input type="date" id="formAddBookReleaseDate" name="formAddBookReleaseDate" class="form-control myInput-elegant-2" placeholder="">
      </div>
      <div class="form-group">
        <label for="formAddBookShortDescription">Short Description</label>
        <textarea class="form-control myInput-elegant-2" id="formAddBookShortDescription" rows="3"></textarea>
      </div>
      <div class="form-group">
        <label for="formAddBookFullDescription">Full Description</label>
        <textarea class="form-control myInput-elegant-2" id="formAddBookFullDescription" rows="3"></textarea>
      </div>
      <div class="form-group">
        <label for="formAddBookImages">Images</label>
        <input type="text" id="formAddBookImages" name="formAddBook" class="form-control myInput-elegant-2" placeholder="">
      </div>
      <div class="form-group w-50">
        <label for="formAddBookSizeWidth">Size (width)</label>
        <input type="number" id="formAddBookSizeWidth" name="formAddBookSizeWidth" class="form-control myInput-elegant-2" placeholder="">
      </div>
      <div class="form-group w-50">
        <label for="formAddBookSizeDepth">Size (depth)</label>
        <input type="number" id="formAddBookSizeDepth" name="formAddBookSizeDepth" class="form-control myInput-elegant-2" placeholder="">
      </div>
      <div class="form-group">
        <label for="formAddBookSelectGenre">Genre</label>
        <select class="form-control" id="formAddBookSelectGenre">
          <option>Genre binding</option>
          <option>Genre binding</option>
          <option>Genre binding</option>
          <option>Genre binding</option>
          <option>Genre binding</option>
        </select>
      </div>
      <button class="btn btn-success d-block ml-auto">
        <i class="fas fa-plus"></i> Create</button>
    </div>
    <div class="col-12 col-md-4 mb-3">
      <div class="d-flex flex-row justify-content-between align-items-center mb-3">
        <span class="h5 mb-0">Product List</span>
        <button (click)="getBooks()" class="btn btn-ghost-primary">
          <i class="fas fa-sync-alt"></i> Refresh</button>
      </div>

      <ul class="list-group list-unstyled border-0">
        <li *ngFor="let book of books" class="d-flex flex-row justify-content-between align-items-center">
          <span (click)="onSelect(book)" class="">{{book.title}}</span>
          <button class="btn btn-sm" title="Remove">
            <i class="fas fa-times"></i>
          </button>
        </li>
      </ul>
    </div>
    <div class="col-12 col-md-4 mb-3">
      <div class="d-flex flex-row justify-content-between align-items-center mb-3">
        <span class="h5 mb-0">Details</span>
        <button class="btn btn-ghost-primary">
          <i class="fas fa-check"></i> Update</button>
      </div>
      <div *ngIf="selectedBook">
        <div class="form-group">
          <label for="formEditBookTitle">Title</label>
          <input [(ngModel)]="selectedBook.title" type="text" id="formEditBookTitle" name="formEditBookTitle" class="form-control myInput-elegant-2" placeholder="">
        </div>
        <div class="form-group">
          <label for="formEditBookAuthor">Author</label>
          <input [(ngModel)]="selectedBook.author" type="text" id="formEditBookAuthor" name="formEditBookAuthor" class="form-control myInput-elegant-2" placeholder="">
        </div>
        <div class="form-group">
          <label for="formEditBookPublisher">Publisher</label>
          <input [(ngModel)]="selectedBook.publisher" type="text" id="formEditBookPublisher" name="formEditBookPublisher" class="form-control myInput-elegant-2" placeholder="">
        </div>
        <div class="form-group">
          <label for="formEditBookPages">Pages</label>
          <input [(ngModel)]="selectedBook.pages" type="number" id="formEditBookPages" name="formEditBookPages" class="form-control myInput-elegant-2" placeholder="">
        </div>
        <div class="form-group">
          <label for="formEditBookWeight">Weight</label>
          <input [(ngModel)]="selectedBook.weight" type="number" id="formEditBookWeight" name="formEditBookWeight" class="form-control myInput-elegant-2" placeholder="">
        </div>
        <div class="form-group">
          <label for="formEditBookSKU">SKU</label>
          <input [(ngModel)]="selectedBook.sku" type="text" id="formEditBookSKU" name="formEditBookSKU" class="form-control myInput-elegant-2" placeholder="">
        </div>
        <div class="form-group">
          <label for="formEditBookPreviousPrice">Previous Price</label>
          <input [(ngModel)]="selectedBook.previousPrice" type="number" id="formEditBookPreviousPrice" name="formEditBookPreviousPrice" class="form-control myInput-elegant-2"
            placeholder="">
        </div>
        <div class="form-group">
          <label for="formEditBookSellingPrice">Selling Price</label>
          <input [(ngModel)]="selectedBook.sellingPrice" type="number" id="formEditBookSellingPrice" name="formEditBookSellingPrice" class="form-control myInput-elegant-2"
            placeholder="">
        </div>
        <div class="form-group">
          <label for="formEditBookReleaseDate">Release Date</label>
          <input [(ngModel)]="selectedBook.releaseDate" type="string" id="formEditBookReleaseDate" name="formEditBookReleaseDate" class="form-control myInput-elegant-2" placeholder="">
        </div>
        <div class="form-group">
          <label for="formEditBookShortDescription">Short Description</label>
          <textarea [(ngModel)]="selectedBook.shortDescription" class="form-control myInput-elegant-2" id="formEditBookShortDescription" rows="3"></textarea>
        </div>
        <div class="form-group">
          <label for="formEditBookFullDescription">Full Description</label>
          <textarea [(ngModel)]="selectedBook.fullDescription" class="form-control myInput-elegant-2" id="formEditBookFullDescription" rows="3"></textarea>
        </div>
        <div class="form-group">
          <label for="formEditBookImages">Images</label>
          <input [(ngModel)]="selectedBook.images.main" type="text" id="formEditBookImages" name="formAddBook" class="form-control myInput-elegant-2" placeholder="">
        </div>
        <div class="form-group w-50">
          <label for="formEditBookSizeWidth">Size (width)</label>
          <input [(ngModel)]="selectedBook.size.width" type="number" id="formEditBookSizeWidth" name="formEditBookSizeWidth" class="form-control myInput-elegant-2" placeholder="">
        </div>
        <div class="form-group w-50">
          <label for="formEditBookSizeDepth">Size (depth)</label>
          <input [(ngModel)]="selectedBook.size.depth" type="number" id="formEditBookSizeDepth" name="formEditBookSizeDepth" class="form-control myInput-elegant-2" placeholder="">
        </div>
        <div class="form-group">
          <label for="formAddBookReSelectGenre">Genre</label>
          <select class="form-control" id="formAddBookReSelectGenre">
            <option *ngFor="let book of books">{{book.genre.name}}</option>
          </select>
        </div>
      </div>
      
    </div>
  </div>
</div> -->
    <div class="col-sm-6 col-md-4 mb-3">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search products" aria-label="Search products" aria-describedby="basic-addon2">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button">
            <i class="fas fa-search"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="col-12 mb-3">
      <a routerLink="/product-add" href="" class="text-success">
        <i class="fas fa-plus-circle mr-2"></i>
        <span class="text-underline">Add new product</span>
      </a>
    </div>
    <div class="col-12 mb-3 table-responsive">
      <table class="table table-striped table-hover table-outline mb-2">
        <thead class="thead-light">
          <tr>
            <th>Product</th>
            <th>Author</th>
            <th>Publisher</th>
            <th>
                <button (click)="getBooks()" class="btn btn-link p-0 d-block ml-auto" type="button"><i class="fas fa-sync-alt"></i> Refresh</button>
            </th>
          </tr>
        </thead>
        <tbody *ngIf="books" class="">
          <tr *ngFor="let book of books" title="Click to view details" class="myCursor">

            <td (click)="onSelect(book)" data-target="#modalProductDetail" data-toggle="modal">{{book.title}}</td>
            <td (click)="onSelect(book)" data-target="#modalProductDetail" data-toggle="modal">{{book.author}}</td>
            <td (click)="onSelect(book)" data-target="#modalProductDetail" data-toggle="modal">{{book.publisher}}</td>
            <td>
              <span class="d-block text-right">
                <a (click)="onSelectEdit(book)" class="mr-3" data-toggle="modal" title="Edit this item"  data-target="#modalEdit" href="">Edit</a>
                <a (click)="onSelectDelete(book)" class="text-danger" title="Remove" data-toggle="modal" data-target="#modalDelete" href="">Delete</a>
              </span>
            </td>
          </tr>
         
        </tbody>
      </table>
      <p>Displaying {{books?.length || '0 item'}}
          <span *ngIf="books?.length == 1">item</span> 
          <span *ngIf="books?.length == 0">item</span> 
          <span *ngIf="books?.length">items</span> 
        </p>
    </div>
    <!-- Pagination -->
    <div class="col-12 d-flex justify-content-center mb-3">
      <nav class="mb-3" aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item">
            <a class="page-link" href="#">Previous</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#">1</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#">2</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#">3</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#">Next</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
<!-- MODAL: Details -->
<div id="modalProductDetail" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Product Details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row" *ngIf="selectedBook">
            <div class="col-4">
              <!-- <img src="{{selectedBook.images.main}}" class="w-100" alt=""> -->
            </div>
            <div class="col-8 d-flex flex-column">
              <h6>{{selectedBook.title}}</h6>
              <span>
                <span>Price:</span>
                <s class="mr-2">{{selectedBook.previousPrice}}</s>
                <span class="text-danger">{{selectedBook.sellingPrice}}</span>
              </span>
              <span>Publisher: {{selectedBook.publisher}}</span>
              <span>Pages: {{selectedBook.pages}}</span>
              <span>Weight: {{selectedBook.weight}}</span>
              <span>SKU: {{selectedBook.sku}}</span>
              <span>Release Date: {{selectedBook.releaseDate}}</span>
              <!-- <span>Dimension: {{selectedBook.size.width}} x {{selectedBook.size.height}} x {{selectedBook.size.depth}}</span> -->
              <span>Genre: {{selectedBook.genre.name}}</span>
              <span class="font-italic">{{selectedBook.shortDescription}}</span>
            </div>
            <div class="col-12 mt-2">
              <div [innerHTML]="selectedBook.fullDescription"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button data-dismiss="modal" type="button" class="btn btn-primary">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal: DELETE -->
<div *ngIf="selectedDelete" id="modalDelete" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Confirm delete</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure want to delete?</p>
        <b class="text-danger">{{selectedDelete.title}} </b>
      </div>
      <div class="modal-footer">
        <button (click)="deleteBook(selectedDelete)" data-dismiss="modal" type="button" class="btn btn-primary">Delete</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Keep</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal: EDIT BOOK -->
<div class="modal fade" id="modalEdit" tabindex="-1" role="dialog" aria-labelledby="modalEditLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Product</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div *ngIf="selectedEdit" class="row">
            <div class="col-12 mb-3">
              <div class="form-group">
                <label for="formAddBookTitle">Title</label>
                <input [(ngModel)]="selectedEdit.title" type="text" id="formAddBookTitle" name="formAddBookTitle" class="form-control myInput-elegant-2"
                  placeholder="">
              </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 mb-3">
              <div class="form-group">
                <label for="formAddBookAuthor">Author</label>
                <input [(ngModel)]="selectedEdit.author" type="text" id="formAddBookAuthor" name="formAddBookAuthor" class="form-control myInput-elegant-2"
                  placeholder="">
              </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 mb-3">
              <div class="form-group">
                <label for="formAddBookPublisher">Publisher</label>
                <input [(ngModel)]="selectedEdit.publisher" type="text" id="formAddBookPublisher" name="formAddBookPublisher" class="form-control myInput-elegant-2"
                  placeholder="">
              </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 mb-3">
              <div class="form-group">
                <label for="formAddBookSelectGenre">Genre</label>
                <p class="mb-0">{{selectedEdit.genre.name}}</p>
                <select *ngIf="genres" [(ngModel)]="selectedEdit.genre" class="form-control" id="formAddBookSelectGenre">
                  {{selectedEdit.genre.name}}
                  <option *ngFor="let x of genres" [ngValue]="x">{{x.name}}</option>
                </select>
              </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 mb-3">
              <div class="form-group" *ngIf="selectedEdit.pages">
                <label for="formAddBookPages">Pages</label>
                <input [(ngModel)]="selectedEdit.pages" type="number" id="formAddBookPages" name="formAddBookPages" class="form-control myInput-elegant-2"
                  placeholder="">
              </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 mb-3">
              <div class="form-group" *ngIf="selectedEdit.weight">
                <label for="formAddBookWeight">Weight</label>
                <input [(ngModel)]="selectedEdit.weight" type="number" id="formAddBookWeight" name="formAddBookWeight" class="form-control myInput-elegant-2"
                  placeholder="">
              </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 mb-3">
              <div class="form-group" *ngIf="selectedEdit.releaseDate">
                <label for="formAddBookReleaseDate">Release Date</label>
                <input [(ngModel)]="selectedEdit.releaseDate" type="text" id="formAddBookReleaseDate" name="formAddBookReleaseDate" class="form-control myInput-elegant-2"
                  placeholder="">
              </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 mb-3">
              <div class="form-group" *ngIf="selectedEdit.sku">
                <label for="formAddBookSKU">SKU</label>
                <input [(ngModel)]="selectedEdit.sku" type="text" id="formAddBookSKU" name="formAddBookSKU" class="form-control myInput-elegant-2"
                  placeholder="">
              </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 mb-3">
              <div class="form-group" *ngIf="selectedEdit.previousPrice">
                <label for="formAddBookPreviousPrice">Previous Price (required)</label>
                <input [(ngModel)]="selectedEdit.previousPrice" type="number" id="formAddBookPreviousPrice" name="formAddBookPreviousPrice"
                  class="form-control myInput-elegant-2" placeholder="">
                <span>{{selectedEdit.previousPrice}}</span>
              </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 mb-3">
              <div class="form-group" *ngIf="selectedEdit.sellingPrice">
                <label for="formAddBookSellingPrice">Selling Price (required)</label>
                <input [(ngModel)]="selectedEdit.sellingPrice" type="number" id="formAddBookSellingPrice" name="formAddBookSellingPrice" class="form-control myInput-elegant-2"
                  placeholder="">
                  <span>{{selectedEdit.sellingPrice}}</span>
              </div>
            </div>
            <div class="col-12 col-md-8 mb-3"  *ngIf="selectedEdit.images">
              <div class="form-group">
                <label for="formAddBookImages">Main Image</label>
                <input [(ngModel)]="selectedEdit.images.main" type="text" id="formAddBookImages" name="formAddBookImages" class="form-control myInput-elegant-2 mb-2"
                  placeholder="">
                <a href="" class="text-dark" data-toggle="collapse" href="#collapseReviewImage" role="button" aria-expanded="false" aria-controls="collapseReviewImage">
                  <i class="far fa-image"></i> View Image</a>
              </div>
            </div>
            <div class="col-12 col-md-10 col-lg-4 mb-3" *ngIf="selectedEdit.images">
              <div class="collapse" id="collapseReviewImage">
                <img src="{{selectedEdit.images.main}}" alt="Warning: No image link found. You must add a link for image" class="w-100">
              </div>

            </div>
            <div class="col-12" *ngIf="selectedEdit.size">
              <div class="row">
                <div class="col-12 col-sm-6 col-lg-4 mb-3">
                  <div class="form-group" *ngIf="selectedEdit.size.width">
                    <label for="formAddBookSizeWidth">Size (width)</label>
                    <input [(ngModel)]="selectedEdit.size.width" type="number" id="formAddBookSizeWidth" name="formAddBookSizeWidth" class="form-control myInput-elegant-2"
                      placeholder="">
                  </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-4 mb-3">
                  <div class="form-group" *ngIf="selectedEdit.size.height">
                    <label for="formAddBookSizeHeight">Size (height)</label>
                    <input [(ngModel)]="selectedEdit.size.height" type="number" id="formAddBookSizeHeight" name="formAddBookSizeHeight" class="form-control myInput-elegant-2"
                      placeholder="">
                  </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-4 mb-3">
                  <div class="form-group" *ngIf="selectedEdit.size.depth">
                    <label for="formAddBookSizeDepth">Size (depth)</label>
                    <input [(ngModel)]="selectedEdit.size.depth" type="number" id="formAddBookSizeDepth" name="formAddBookSizeDepth" class="form-control myInput-elegant-2"
                      placeholder="">
                  </div>
                </div>
              </div>
            </div>

            <div class="col-12 mb-3">
              <div class="form-group" *ngIf="selectedEdit.shortDescription">
                <label for="formAddBookShortDescription">Short Description</label>
                <textarea [(ngModel)]="selectedEdit.shortDescription" class="form-control myInput-elegant-2" id="formAddBookShortDescription"
                  rows="3"></textarea>
              </div>
            </div>
            <div class="col-12 mb-3">
              <div class="form-group">
                <label for="formAddBookFullDescription" *ngIf="selectedEdit.fullDescription">Full Description</label>
                <!-- <textarea [(ngModel)]="objectBook.fullDescription" class="form-control myInput-elegant-2" id="formAddBookFullDescription" rows="3"></textarea> -->
                <textarea [(ngModel)]="selectedEdit.fullDescription" [froalaEditor]="HelloFroala" class="form-control" id="formAddBookFullDescription"
                  rows="10"></textarea>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button (click)="updateBook()" type="button" class="btn btn-primary" data-dismiss="modal">Save changes</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Discard</button>
      </div>
    </div>
  </div>
</div>